@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
a:hover {
  color: orange;
}
body {
  padding: 40px 120px;
  background: linear-gradient(293deg, #e6e6e4 7.23%, #f0e8e2 97.74%);
}

/* Header */

header {
  position: relative;
  font-size: 16px;
  margin-bottom: 80px;
}

.navbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 32px;
  font-weight: 500;
  color: #1f1d2a;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: transparent;
  color: #1f1d2a;
  padding: 14px 40px;
  border-radius: 6px;
  border: 1px solid #1f1d2a;
  cursor: pointer;
}
.action_btn:hover {
  transition: 0.5s;
  background-color: orange;
  color: #fff;
  border: none;
}

/* dropdown Menu */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2px;
  top: 40px;
  height: 0;
  width: 300px;
  background: rgba(51, 49, 49, 0.1);
  backdrop-filter: blur(15px);
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 300px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.link a {
  padding: 0 120px;
}

/* responsive */
@media (max-width: 992px) {
  body {
    padding: 20px 60px;
  }
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
    top: 60px;
    width: 100%;
  }
}

@media (max-width: 576px) {
  body {
    padding: 10px 20px;
  }
  .dropdown_menu {
    top: 60px;
    width: 100%;
  }
}
