@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  padding: 40px 120px;
  background: linear-gradient(293deg, #e6e6e4 7.23%, #f0e8e2 97.74%);
}

/* banner */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.banner-content {
  width: 50%;
}

.banner-content h2 {
  font-size: 55px;
  font-weight: 600;
  color: #1f1d2a;
  margin-bottom: 30px;
}

.banner-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #9b948e;
  margin-bottom: 50px;
}

.banner-content button {
  width: 170px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 6px;
  background: #96c67f;
  border: none;
}

.banner-slide {
  position: relative;
}

.banner-slide .img-main {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.banner-slide-content {
  width: 180px;
  height: 130px;
  background-color: #fff;
  flex-shrink: 0;
  padding: 20px;
  border-radius: 20px;
  position: absolute;
  bottom: -6%;
  left: 6%;
}

.banner-slide-content h6 {
  font-size: 16px;
  font-weight: 500;
  color: #1f1d2a;
}

.banner-slide-content p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

.banner-slide-content ion-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  color: #ffb988;
}

.play img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 50%;
  position: absolute;
  bottom: 42%;
  left: 92%;
}

/* user */
.user {
  text-align: center;
}

.user h6 {
  font-size: 16px;
  font-weight: 500;
  color: #1f1d2a;
  margin-bottom: 30px;
}

.user-img {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.user-img img {
  width: auto;
  height: 30px;
  flex-shrink: 0;
}

/* teacher */
.teacher {
  text-align: center;
}

.teacher h4 {
  font-size: 18px;
  font-weight: 500;
  color: #1f1d2a;
  margin-bottom: 10px;
}

.teacher h3 {
  font-size: 32px;
  font-weight: 600;
  color: #1f1d2a;
  margin-bottom: 60px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: calc(25% - 34px);
  margin-left: 34px;
}

.card-img img {
  height: 360px;
  width: 100%;
  object-fit: cover;
}

.card-content {
  text-align: start;
  padding: 20px;
}

.card-content h4 {
  font-size: 20px;
  font-weight: 500;
  color: #1f1d2a;
}

.card-content span {
  font-size: 16px;
  font-weight: 400;
  color: #9b948e;
}

@media (max-width: 992px) {
  body {
    padding: 20px 60px;
  }
  .banner {
    flex-direction: column;
  }
  .banner-content {
    width: 100%;
    margin-bottom: 30px;
  }
  .banner-slide {
    width: 100%;
  }

  .play img {
    left: 65%;
  }
  .user-img {
    flex-direction: column;
    align-items: center;
  }
  .user-img img {
    width: 25%;
    height: 50px;
    margin-bottom: 30px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 70%;
    margin-bottom: 30px;
  }
  .card-img img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}
