@import url("https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap");
body {
  padding: 20px;
  font-family: "Volkhov", serif;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.card {
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: calc(25% - 30px);
  margin-left: 30px;
}

.card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}
.card-content {
  padding: 25px;
}

.card-content h3 {
  font-weight: 500;
  margin-bottom: 25px;
}

.card-user {
  display: flex;
  align-items: center;
}

.card-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.card-user-content {
  padding-left: 20px;
  flex: 1;
}

.card-user-content-top {
  display: flex;
  align-items: center;
}

.card-user-content-top h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
}

.card-user-content-top ion-icon {
  color: #20e3b2;
  margin-left: 5px;
}

.card-user-content-game {
  color: #999;
  font-weight: 300;
  font-size: 13px;
}

.card-footer {
  padding: 25px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-live {
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #ff6651;
}

.card-live span {
  margin-left: 10px;
  font-size: 14px;
}

.card-watching {
  font-size: 13px;
  color: #999;
  font-weight: 300;
}
